---
import Scripts from "./Scripts.astro";

const { title } = Astro.props;
---

<head>
    <Scripts />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta
        property="og:title"
        content="PlacementX - GGSIPU's Placement Tracker"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.placementx.netlify.app/" />
    <meta
        property="og:description"
        content="Track GGSIPU's Placements for 2021-25"
    />
    <meta
        property="og:image"
        content="https://placementx.netlify.app/metadata_large.png"
    />
    <meta
        property="og:image:alt"
        content="Track GGSIPU's Placements for 2021-25"
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta
        name="twitter:title"
        content="PlacementX - GGSIPU's Placement Tracker"
    />
    <meta
        name="twitter:description"
        content="Track GGSIPU's Placements for 2021-25"
    />
    <meta
        name="twitter:image"
        content="https://placementx.netlify.app/metadata_large.png"
    />
    <meta
        name="twitter:image:alt"
        content="Track GGSIPU's Placements for 2021-25"
    />
    <meta name="twitter:url" content="http://www.placementx.netlify.app/" />
</head>
