---
import Scripts from "./Scripts.astro";

const { title } = Astro.props;
---

<head>
    <Scripts />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
</head>
